* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #12131d;
	color: #aaa;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
	max-width: 500px;
	margin: 30px auto;
}

h1 {
	font-size: 1.2rem;
}
h2:first-of-type {
	font-size: 1.3rem;
	color: aquamarine;
}

h1,
h2 {
	text-align: center;
	color: #fff;
}

svg {
	height: 1.3rem;
	margin-right: 5px;
	fill: #23b834;
}
